@import '../../assets/styles/theme';

.tasks-panel {
  margin: 0 -15px;
  padding: 15px 60px 20px;
  border-radius: .25rem;
  font-family: $font-family;
  background-color: var(--board-bg);
}

.task-header {
  font-size: 34px;
  font-family: $font-family-header;
  text-transform: uppercase;
}

.task {
  padding: 20px;
  position: relative;
  color: var(--base);
  height: 100%;

  &-container {
    display: block;
    width: 100%;
    height: 200px;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid var(--base);
    background: #fff;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05, 1.05);
    }
  }
  &-order {
    font-family: $font-family-header;
    font-size: 20px;
  }
  &-name {
    font-family: $font-family-header;
    font-size: 30px;
  }
  &-points {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 20px;
    font-family: $font-family-header;
  }
}

.run-selector {
  margin-top: 15px;
}

.deadline {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.add-users-panel {
  margin: 0 5px;
}

.fastest-solution {
  position: relative;
  top: 1px;
  display: inline-block;
  margin-left: 3px;
  cursor: pointer;

  span {
    display: none;
  }

  &:hover span {
    position: absolute;
    display: block;
    width: 100px;
    bottom: 25px;
    left: -40px;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--fast-sol-bg);
    border: 1px solid var(--fast-sol-br);
    border-radius: 5px;
    opacity: 50;
  }

  bi {
    cursor: pointer;
  }
}

.leaderboard {
  padding: 5px 60px 50px;
  margin: 0 -15px;
  background-color: var(--board-bg);
  border: 1px solid  var(--board-br);
  border-radius: 3px;
}

.block-header {
  padding: 0 15px;
  margin: 15px;
  border-left: 2px solid var(--base);
  font-size: 34px;
  font-family: $font-family-header;
  text-transform: uppercase;

  &.main-header {
    font-size: 4em;
    padding: 15px;
    margin: 15px 60px;
    .main-subheader {
      font-size: 0.5em;
      margin-bottom: 0;
    }
  }
}

.leaderboard-table-header {
  font-family: $font-family;
  text-transform: uppercase;
  font-size: 11px;
  border-radius: 5px;

  th {
    border: 0;
    background-color: var(--base);
    color: white;
    text-align: center;

    &:first-child {
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
    }

    &:last-child {
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }

    &.align-left {
      text-align: left;
    }
  }
}

.leaderboard-table-body {
  font-family: $font-family;
  font-size: 18px;
  font-weight: bold;

  tr {
    td {
      color: var(--brd-other);

      a {
        color: var(--brd-other);
        text-decoration: none;
      }
    }

    &:first-child td {
      &:first-child {
        border-top-left-radius: 20px;
      }

      &:last-child {
        border-top-right-radius: 20px;
      }
    }

    &.place-1 td {
      color: var(--brd-place-1);

      a {
        color: var(--brd-place-1);
      }
    }

    &.place-2 td {
      color: var(--brd-place-2);

      a {
        color: var(--brd-place-2);
      }
    }

    &.place-3 td {
      color: var(--brd-place-3);

      a {
        color: var(--brd-place-3);
      }
    }

    &:last-child td {
      border: 0;

      &:first-child {
        border-bottom-left-radius: 20px;
      }

      &:last-child {
        border-bottom-right-radius: 20px;
      }
    }
  }

  td {
    text-align: center;
    vertical-align: middle;

    &:last-child, &:first-child {
      font-size: 25px;
    }

    &.align-left {
      text-align: left;
    }
  }

  .avatar-col {
    padding: 0;

    img {
      width: 50px;
      border-radius: 50%;
    }
  }
}

.top-panel {
  height: 100vh;
  position: relative;
}

.challenge-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../../assets/images/challenge_page.svg) 30vw/auto 100% no-repeat;
  animation-name: challenge-image;
  animation-duration: 4s;
}

@keyframes challenge-image {
  from {
    background-position-x: center;
    opacity: 0
  }
  to {
    background-position-x: 30vw;
    opacity: 100%;
  }
}

.info-panel {
  min-width: 300px;
  width: 30%;
  margin: 15vh 0 0 60px;
  padding: 20px;
  background-color: var(--info);
  border-radius: 5px;
  white-space: pre-line;
  font-size: 1.1em;

  .btn {
    margin-top: 20px;
    margin-right: 20px;
  }

  .btn, .link-secondary {
    position: relative;
    z-index: 10;
  }

  .bi-stopwatch {
    color: var(--base);
  }
}

@media (max-height: 600px) {
  .info-panel {
    margin-top: 0;
    font-size: 1em;
  }
}

@media (max-width: 1000px) {
  .info-panel {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .info-panel {
    margin-top: 0;
    font-size: 1em;
    width: 80%;
  }

  .challenge-background {
    background-position-x: -5%;
    animation-name: challenge-image-small;
  }

  @keyframes challenge-image-small {
    from {
      background-position-x: center;
      opacity: 0
    }
    to {
      background-position-x: -5%;
      opacity: 100%;
    }
  }
}
