<div class="container-fluid">
  <app-loader *ngIf="isLoading"></app-loader>
  <div *ngIf="!hasTopPanel">
    <h1 class="main-header block-header">
      JS Coding Challenge
      <br />
      <p class="main-subheader">Solve the puzzles & win</p>
    </h1>
  </div>
  <div *ngIf="hasTopPanel" class="top-panel">
    <div class="challenge-background"></div>
    <h1 class="main-header block-header">JS Coding Challenge</h1>
    <div class="info-panel">
      <div>
        Improve your development skills by passing coding challenge with your colleagues on
        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
           target="_blank"
           href="https://www.codewars.com">Codewars</a>
        platform that
        continuously push your coding practice!
        <br/><br/>
        8 weeks duration of challenge
        <br/>
        5 tasks in different levels/points each week
        <br/>
        5 extra points for the fastest solution <i class="bi bi-stopwatch"></i>
      </div>
      <button type="button" class="btn btn-secondary" (click)="scroll('tasks-panel')">
        Tasks
      </button>
      <button type="button" class="btn btn-secondary" (click)="scroll('leaderboard-panel')">
        Leaderboard
      </button>
      <button type="button" class="btn btn-primary" (click)="goToRegister()">Join the challenge!</button>
    </div>
  </div>

  <div id="tasks-panel" *ngIf="currentRun" class="tasks-panel">
    <div class="row">
      <div class="col-9">
        <h4 class="block-header">Current run<br />
          <span class="deadline">{{currentRun.startDate|date:'MMM d'}} -
          {{currentRun.endDate|date:'medium'}}</span>
        </h4>
      </div>
      <div class="col-3">
        <div ngbDropdown class="d-inline-block float-end run-selector" placement="bottom-end">
          <button type="button" class="btn btn-secondary" id="dropdownRun" ngbDropdownToggle>
            {{currentRun.description}}
          </button>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownRun">
            <button ngbDropdownItem *ngFor="let item of runs" (click)="chooseRun(item)">
              <span class="dropdown-item">{{item.description}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        *ngFor="let task of currentRun.tasks; let i = index"
        class="col-12 col-sm-12 col-md"
      >
        <a
          target="_blank"
          href="https://www.codewars.com/kata/{{task.id}}/train/javascript"
          class="task-container"
        >
          <div class="task">
            <h5 class="task-order">#{{i + 1}}</h5>
            <span class="task-name">{{task.name}}</span>
            <span class="task-points">{{task.points}} points</span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div id="leaderboard-panel" class="leaderboard" *ngIf="currentRun && leaderboard">
    <h4 class="block-header">Leaderboard</h4>

    <table class="table">
      <thead class="leaderboard-table-header">
      <tr>
        <th scope="col">Place</th>
        <th scope="col"></th>
        <th scope="col" class="align-left">Name</th>
        <th scope="col" class="align-left">Nickname</th>
        <th *ngFor="let task of currentRun.tasks; let i = index">
          Task {{i + 1}}
        </th>
        <th scope="col">Prev runs</th>
        <th scope="col">Total</th>
      </tr>
      </thead>
      <tbody class="leaderboard-table-body" *ngIf="isLoading">
      <tr *ngFor="let user of leaderboard.users | slice:0:sliceEnd; let i = index"
          [ngClass]="{'place-1':i === 0, 'place-2':i === 1, 'place-3':i === 2}">
        <td>{{i + 1}}</td>
        <td class="avatar-col">
          <img src="/assets/avatars/default.jpg" alt="avatar">
        </td>
        <td class="align-left">...</td>
        <td class="align-left">...</td>
        <td *ngFor="let task of user.tasks">-</td>
        <td>0</td>
        <td>0</td>
      </tr>
      </tbody>

      <tbody class="leaderboard-table-body" *ngIf="!isLoading">
      <tr *ngFor="let user of leaderboard.users | slice:0:sliceEnd"
          [ngClass]="{'place-1':user.place === 1, 'place-2':user.place === 2, 'place-3':user.place === 3}">
        <td>{{user.place}}</td>
        <td class="avatar-col">
          <img src="/assets/avatars/{{user.codewarsUsername}}.jpg" alt="avatar"
               onerror="this.src='/assets/avatars/default.jpg';">
        </td>
        <td class="align-left">
          <a target="_blank"
             href="{{user.telescopeLink}}">{{user.firstName}} {{user.lastName}}</a>
        </td>
        <td class="align-left">{{user.codewarsUsername}}</td>
        <td *ngFor="let task of user.tasks">
          {{task && task.points ? task.points : '-'}}
          <span>{{task.fastestSolution ? '+ ' + leaderboard.fastestSolutionBonus : ''}}</span>
          <div *ngIf="task.fastestSolution" class="fastest-solution">
            <i class="bi bi-stopwatch"></i>
            <span>{{task.completedAt | date:'medium'}}</span>
          </div>
        </td>
        <td>{{user.solutions.prevPoints}}</td>
        <td>{{user.solutions.points}}</td>
      </tr>
      </tbody>
    </table>

    <button *ngIf="usersCount > 0 && sliceEnd < usersCount"
            type="button" class="btn btn-primary float-end" (click)="showAll()">Show all
    </button>
  </div>
</div>
