<div class="base-container">
  <app-loader *ngIf="isLoading"></app-loader>
  <div *ngIf="!hasTopPanel">
    <h1 class="main-header block-header">
      JS Coding Challenge
      <br />
      <p class="main-subheader">Solve the puzzles & win</p>
    </h1>
  </div>
  <div *ngIf="hasTopPanel" class="top-panel">
    <div class="challenge-background"></div>
    <div class="challenge-logo"></div>

    <div class="logo">
      <div class="logo-js">JS</div>
      <div class="logo-ch">
        <div class="logo-coding">Coding</div>
        <div class="logo-challenge">Challenge</div>
        <div class="logo-under">Team Event</div>
      </div>
    </div>

    <div class="info-panel">
      <div class="info-header">Improve your development skills by passing coding challenge</div>

      <div class="info-sub-header">
        on
        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
           target="_blank"
           href="https://www.codewars.com">Codewars</a>
        platform that
        continuously push your coding practice
      </div>

      <div class="info-dates"><span>12-29 November 2024</span></div>

      <div class="info-block"><span class="info-block-number">3</span> weeks duration of challenge</div>
      <div class="info-block"><span class="info-block-number">10</span> tasks in different levels / points each week</div>

      <div class="info-panel-btns">
      <button type="button" class="btn btn-secondary" (click)="scroll('tasks-panel')">
        Tasks
      </button>
      <button type="button" class="btn btn-secondary" (click)="scroll('leaderboard-panel')">
        Leaderboard
      </button>
      <button type="button" class="btn btn-primary" (click)="goToRegister()">Join the challenge!</button>
      </div>
    </div>
  </div>

  <div id="tasks-panel" *ngIf="currentRun" class="tasks-panel">
    <div class="row">
      <div class="col-9">
        <h4 class="block-header">Current week
          <button type="button" class="btn btn-mortarboard" (click)="toInfo(currentRun.id)"
                  ngbTooltip="Read additional info">
            <i class="bi bi-mortarboard-fill"></i>
          </button>
          <br />
          <span class="deadline">{{currentRun.startDate|date:'MMM d'}} -
          {{currentRun.endDate|date:'medium'}}</span>
        </h4>
      </div>
      <div class="col-3">
        <div ngbDropdown class="d-inline-block float-end run-selector" placement="bottom-end">
          <button type="button" class="btn btn-secondary" id="dropdownRun" ngbDropdownToggle>
            {{currentRun.description}}
          </button>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownRun">
            <button ngbDropdownItem *ngFor="let item of runs" (click)="chooseRun(item)">
              <span class="dropdown-item">{{item.description}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        *ngFor="let task of currentRun.tasks; let i = index"
        class="col-12 col-sm-12 col-md"
      >
        <a
          target="_blank"
          href="https://www.codewars.com/kata/{{task.id}}/train/javascript"
          class="task-container"
        >
          <div class="task">
            <h5 class="task-order">#{{i + 1}}</h5>
            <span class="task-name">{{task.name}}</span>
            <span class="task-points">{{task.points}} points</span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <app-leaderboard id="leaderboard-panel" *ngIf="currentRun && leaderboardOfWeek"
                   [isLoading]="isLoading"
                   [currentRun]="currentRun"
                   [leaderboard]="leaderboardOfWeek"
                   [isWeekBoard]="true"
  ></app-leaderboard>

  <app-leaderboard *ngIf="currentRun && leaderboard"
                   [isLoading]="isLoading"
                   [currentRun]="currentRun"
                   [leaderboard]="leaderboard"
                   [isWeekBoard]="false"
  ></app-leaderboard>

  <div id="tasks-panel" *ngIf="!!futureRunStart" class="future-run-promo">
    <div>
      <p class="remaining-time-title">Our challenge will start very soon!</p>
      <p class="remaining-time" *ngIf="(remainingTime | async) as t">
        <span *ngIf="t.daysToDday > 0">{{ t.daysToDday }} days, </span>
        <span *ngIf="t.hoursToDday > 0">{{ t.hoursToDday }} hours, </span>
        <span *ngIf="t.minutesToDday > 0">{{ t.minutesToDday }} minutes, </span>
        <span *ngIf="t.secondsToDday > 0">{{ t.secondsToDday }} seconds</span>
      </p>
    </div>
  </div>
</div>
