/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
@import 'assets/styles/theme';

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/assets/fonts/Archivo Expanded.ttf');
}

@font-face {
  font-family: "Archivo Expanded";
  src: url("/assets/fonts/Archivo Expanded Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Archivo Expanded";
  src: url("/assets/fonts/Archivo Expanded Thin.ttf");
  font-weight: 250;
}

.btn-primary, .btn-primary:hover {
  font-size: 0.6em;
  padding-bottom: 20px;
  background: none!important;
  border: none;
  border-radius: 0;
  border-bottom: 10px solid var(--base);
  text-transform: uppercase;
  color: var(--base);
}

.btn-secondary {
  font-size: 0.6em;
  padding-bottom: 20px;
  background: none!important;
  border: none;
  border-radius: 0;
  border-bottom: 10px solid var(--btn-border);
  color: var(--btn-border);
  text-transform: uppercase;

  &:hover, &:active {
    color: var(--base);
    border-bottom-color:  var(--base);
  }
}

.dropdown-menu {
  background-color: var(--menu-bg);
}

.dropdown-item {
  cursor: pointer;

  &:active {
    background-color: var(--base);
  }
}
