[data-theme="light"] {
  --bg: #efedf6;
  --base: #EE56A3;
  --active: #e51a81;
  --disabled: #999;
  --board-bg: #F2F2F2;
  --menu-bg: #fff;
  --fast-sol-bg: rgba(255, 255, 255, 0.9);
  --fast-sol-br: rgba(204, 204, 204, 0.5);
  --brd-place-1: #EE56A3;
  --brd-place-2: #8e2c9a;
  --brd-place-3: #612e9a;
  --text-color: #36246B;
  --btn-border: #616A80;
  --bg-image-url: url(../../assets/images/background-light.png);
  --bg-image-opacity: 0.5;
  --robot-url: url(../../assets/images/robot-light.svg);
  --bs-border-radius: 0;
  --bs-form-invalid-border-color: #EE56A3;
  --bs-form-invalid-color: #EE56A3;

  background-color: var(--bg);
  color: var(--text-color);
}

[data-theme="dark"] {
  --bg: #1C0D35;
  --base: #EE56A3;
  --active: #e51a81;
  --disabled: #999;
  --board-bg: var(--bg);
  --menu-bg: rgb(239, 239, 239);
  --fast-sol-bg: rgba(0, 0, 0, 0.9);
  --fast-sol-br: rgba(204, 204, 204, 0.5);
  --brd-place-1: #e51a81;
  --brd-place-2: #EE56A3;
  --brd-place-3: #f195c3;
  --text-color: rgb(239, 239, 239);
  --btn-border: #616A80;
  --bg-image-url: url(../../assets/images/background.png);
  --bg-image-opacity: 0.5;
  --robot-url: url(../../assets/images/robot.svg);
  --bs-border-radius: 0;
  --bs-form-invalid-border-color: #EE56A3;
  --bs-form-invalid-color: #EE56A3;

  background-color: var(--bg);
  color: var(--text-color);

  table {
    border-color: var(--fast-sol-br);
    td, th {
      background-color: var(--bg);
      color: var(--text-color);
    }
  }

  .modal-content {
    border-color: var(--text-color);
    background-color: var(--bg);
    color: var(--text-color);

    .btn-close {
      background-color: var(--text-color);
    }
  }

  .btn:not(.btn-secondary):not(.btn-primary) {
    color: var(--text-color);
  }

  .leaderboard {
    margin: 20px 0;
  }
}

$font-family: Archivo Expanded, sans-serif;
$font-family-header: Archivo Expanded, sans-serif;
